* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
h4 {
  font-family: sans-serif;
  font-size: 20px;
  color: #222;
}
h6 {
  font-weight: 700;
  font-size: 12px;
}
p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}
.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  margin: 40px 0;
}
button.normal {
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s linear;
  padding: 15px 26px;
  font-weight: 700;
  font-size: 12px;
  background-color: #e8f6ea;
  border: none;
  outline: none;
}

button.white {
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s linear;
  padding: 15px 26px;
  font-weight: 700;
  font-size: 12px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  transition: all 0.2s linear;
  outline: none;
}
/* Header Start */

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  z-index: 999;
  position: sticky;
  top: 0;
}
#bar {
  display: none;
}
#mobile {
  display: none;
  width: 300px;
  height: 100vh;
  background: rgb(107, 175, 175);
  transition: 0.3s linear;
}
#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar li {
  position: relative;
  list-style: none;
  padding: 0 20px;
}
#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: all 0.3s linear;
}
#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 90vh;
  width: 100%;
  padding: 0 80px;
  background-image: url(./imges/hero4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#hero h4 {
  margin-bottom: 15px;
}

#hero h1 {
  color: #088178;
}

#hero button {
  color: #088178;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(./imges/button.png);
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}
#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}
#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1px;
  border-radius: 4px;
  color: #088178;
  background: #fddde4;
}
#product1 {
  text-align: center;
}
#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#product1 .pro {
  position: relative;
  margin: 15px 0;
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  transition: all 0.3s linear;
}
#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}
#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#product1 .pro .des i {
  font-size: 12px;
  color: yellow;
}

#product1 .pro .des h4 {
  padding-top: 5px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}
#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
#banner {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(imges/banner/b2.jpg);
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
}

#banner h4 {
  font-size: 16px;
  color: white;
}

#banner h2 {
  font-size: 30px;
  color: white;
}

#banner span {
  color: red;
}

#banner button:hover {
  background-color: #088178;
  color: white;
}
#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#sm-banner .banner-box {
  border-radius: 10px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 47%;
  background-image: url(imges/banner/b17.jpg);
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
}

#sm-banner .banner-box2 {
  background-image: url(imges/banner/b10.jpg);
}
#sm-banner h4 {
  color: #fff;
  font-size: 18px;
}

#sm-banner h2 {
  color: #fff;
  font-size: 26px;
}

#sm-banner p {
  color: #fff;
  font-size: 18px;
}
#sm-banner button:hover {
  background: #088178;
  color: white;
}
#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}
#banner3 .banner-box {
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 30%;
  background-image: url(imges/banner/b7.jpg);
  height: 30vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
}
#banner3 .banner-box2 {
  background-image: url(imges/banner/b4.jpg);
}
#banner3 .banner-box3 {
  background-image: url(imges/banner/b18.jpg);
}

#banner3 h2 {
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}
#banner3 h3 {
  color: rgb(224, 32, 32);
  font-weight: 800;
  font-size: 15px;
}

#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background: rgb(36, 40, 78);
}

#newsletter h3 {
  font-size: 22px;
  color: white;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter .form input {
  outline: none;
  border: transparent;
  width: 100%;
  padding: 15px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#newsletter .form button {
  width: 30%;
  border: none;
  outline: none;
  padding: 15px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .col-2,
.col-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 20px;
}
footer .col-2 a {
  text-decoration: none;
  color: #222;
}
footer .col-3 a {
  color: #222;
  text-decoration: none;
}

footer .logo {
  margin-top: 20px;
  margin-bottom: 20px;
}
footer .col h4 {
  margin-bottom: 20px;
  font-size: 18px;
  /* color: #979aa8; */
}
footer .col .icon i {
  margin-right: 20px;
  transition: all 0.2s linear;
}
footer .col .icon i:hover {
  color: #088178;
  cursor: pointer;
}
footer .install {
  color: #979aa8;
  margin-left: 30px;
  margin-top: 25px;
}
footer img {
  border: 1px solid #088178;
  border-radius: 5px;
}
.copyright {
  padding-bottom: 50px;
  padding-top: 40px;
  text-align: center;
  width: 100%;
  height: 50px;
  border-top: 3px solid rgb(122, 122, 129);
}

/* Shop page */
#shop-hero {
  background-image: url(./imges/banner/b1.jpg);
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#shop-hero h2,
#shop-hero p {
  color: #fff;
}

#pagination {
  text-align: center;
}

#pagination a {
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  color: #fff;
  border-radius: 4px;
}
#pagination a i {
  font-size: 16px;
  font-weight: 600;
}

/* Single page */

#single-product {
  margin-top: 30px;
  display: flex;
}
#single-product .single-product-image-wrapper {
  width: 40%;
}
#single-product .single-product-image-group {
  display: flex;
  width: 100%;
}
#single-product .single-product-image-wrapper img {
  width: 100%;
}

#single-product .single-product-image-group .small-image-wrapper {
  cursor: pointer;
}
#single-product .single-product-image-group .small-image-wrapper img {
  width: 98%;
}

.single-title-desc {
  width: 50%;
  margin-left: 50px;
}
.single-small-title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 16px;
}

.single-big-title {
  font-size: 25px;
  margin-bottom: 10px;
}
.single-title-desc select {
  margin-top: 20px;
  padding: 5px;
  outline: none;
}

.inputBtn input {
  height: 40px;
  margin-top: 20px;
  margin-right: 20px;
  width: 50px;
  outline: none;
}
.inputBtn button {
  background: #088178;
  color: #fff;
}

.single-title-desc h3 {
  margin-top: 30px;
}

.single-title-desc p {
  word-spacing: 30px;
  letter-spacing: 5px;
}

/* Blog page */
#blog-hero {
  background-image: url(./imges/banner/b19.jpg);
  background-size: cover;
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#blog-hero h2,
#blog-hero p {
  color: #fff;
}

#blogs .blog-box {
  display: flex;
  position: relative;
  margin: 150px 150px 0 150px;
}
#blogs .blog-box .imgWrapper {
  width: 50%;
  margin-right: 50px;
}
#blogs .blog-box .imgWrapper img {
  height: 300px;
  width: 100%;
}

#blogs .blog-box .blog-deatels {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
}
#blogs .blog-box .blog-deatels div {
  font-weight: 900;
  font-size: medium;
  cursor: pointer;
  transition: all 0.3s linear;
}

#blogs .blog-box .blog-deatels div:hover {
  color: #088178;
}
#blogs .blog-box h1 {
  font-size: 70px;
  position: absolute;
  font-weight: 700;
  color: #c2c4ce;
  top: -45px;
  z-index: -9;
}

/* About page */

#about-hero {
  background-image: url(./imges/about/banner.png);
  background-size: cover;
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-hero h2,
#about-hero p {
  color: #fff;
}
#about {
  display: flex;
  padding: 50px;
  justify-content: space-between;
}

#about .aboutimgWrapper {
  width: 50%;
}

#about .aboutimgWrapper img {
  border-radius: 4px;
  width: 100%;
}

#about .aboutdeatels {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 50%;
  padding-left: 50px;
}
/* Vvvvvvvvideo */
#about-video {
  text-align: center;
}

#about-video .WrapperVideo {
  width: 100%;
  height: 100%;
}
#about-video .WrapperVideo video {
  width: 70%;
  border-radius: 20px;
}

/* Contact page */

#contact {
  display: flex;
}

#contact .contact-deatels {
  width: 45%;
}

#contact h2 {
  font-size: 22px;
  line-height: 25px;
}
#contact h3 {
  margin-top: 30px;
}

#contact li {
  margin-top: 15px;
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: center;
}
#contact li i {
  margin-right: 20px;
}

#contact .contact-map {
  width: 55%;
}
#contact .contact-map iframe {
  width: 100%;
  height: 400px;
}

#contact-form {
  display: flex;
  align-items: flex-start;
  border: 2px solid #d8dce7;
  margin: 30px;
  padding: 40px;
}

#contact-form form {
  width: 65%;
  height: 90vh;
}
#contact-form form h2 {
  font-size: 25px;
}

#contact-form form input,
#contact-form form textarea {
  width: 100%;
  padding: 20px 25px;
  margin-bottom: 30px;
  outline: none;
}

#contact-form form button {
  background: #088178;
  color: #fff;
  cursor: pointer;
}

#contact-form .contact-form-deteals {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#contact-form .contact-form-deteals .contactimgWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}
#contact-form .contact-form-deteals .contactimgWrapper img {
  width: 65px;
  height: 65px;
  margin-right: 20px;
}
#contact-form .contact-form-deteals .contactimgWrapper span {
  display: block;
  font-size: large;
  font-weight: 700;
}

/* Cart page */
#cart {
  overflow-x: auto;
}
#cart table {
  overflow-x: visible;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table img {
  width: 70px;
}

#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}
#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(5) input {
  width: 70px;
  padding: 10px 0px 10px 5px;
}
#cart table thead {
  border: 1px solid #c6cef0;
  border-right: none;
  border-left: none;
}
#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 13px 0px 13px 0px;
}
#cart table tbody td {
  padding-top: 15px;
}

#coupon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#coupon .coupon-form {
  width: 50%;
}
#coupon .coupon-form h3,
#coupon .coupon-table table h3 {
  font-size: 18px;
  margin-bottom: 25px;
}
#coupon .coupon-form input {
  width: 60%;
  padding: 13px 5px;
  outline: none;
}
#coupon .coupon-form button {
  background: #088178;
  color: #fff;
}
#coupon .coupon-table {
  border: 1px solid #c6cef0;
  padding: 50px;
}
#coupon .coupon-table table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #c6cef0;
}
#coupon .coupon-table table td {
  padding: 15px;
  border: 1px solid #d8dce7;
}
@media screen and (max-width: 900px) {
  #contact {
    display: flex;
    flex-direction: column;
  }
  #contact .contact-deatels {
    width: 100%;
  }
  #contact .contact-map {
    width: 100%;
  }
  #contact-form {
    height: fit-content;
    flex-direction: column;
  }
  #contact-form form {
    width: 100%;
    height: 90vh;
  }
  #contact-form .contact-form-deteals {
    width: 100%;
  }
  #contact-form .contact-form-deteals {
    margin-top: 180px;
  }
}

@media only screen and (max-width: 799px) {
  #navbar {
    display: none;
  }
  #bar {
    display: flex;
  }
  #hero {
    height: 70vh;
  }
  #feature {
    justify-content: space-evenly;
  }
  #product1 .pro-container {
    justify-content: space-evenly;
  }
  #sm-banner {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  #banner3 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 80px;
  }
  #newsletter .form {
    width: 70%;
  }
  /* Single page */
  #single-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-p1 {
    padding: 10px 20px;
  }
  #single-product .single-product-image-wrapper {
    width: 70%;
  }
  .single-title-desc {
    width: 80%;
    margin-left: 0px;
  }
  /* Blog page  */
  #blogs .blog-box {
    display: flex;
    position: relative;
    margin: 50px 10px 20px 10px;
  }
  /* About page */
  #about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  #about .aboutimgWrapper {
    width: 100%;
  }
  #about .aboutdeatels {
    width: 100%;
    padding-left: 0px;
  }
  #about-video .WrapperVideo video {
    width: 93%;
  }
  #coupon {
    flex-direction: column;
  }
  #coupon .coupon-form {
     width: 100%;
     margin-bottom: 30px;
   } 
  #coupon .coupon-form input {
    width: 60%;
    padding: 13px 5px;
    outline: none;
  }
}
@media only screen and (max-width: 499px) {
  h2 {
    font-size: 32px;
    line-height: 44px;
    color: #222;
  }
  h1 {
    font-size: 42px;
    line-height: 45px;
    color: #222;
  }
  p {
    font-size: 14px;
    color: #465b52;
    margin: 15px 0 20px 0;
  }
  .section-p1 {
    padding: 10px 20px;
  }
  #banner3 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 40px;
  }
  #newsletter .form {
    width: 100%;
  }
  /* Single page */
  .section-p1 {
    padding: 5px 10px;
  }
  #single-product .single-product-image-wrapper {
    width: 90%;
  }
  .single-title-desc {
    width: 94%;
    margin-left: 0px;
  }
  /* Blog page */
  #blogs .blog-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 70px 0px 70px 0px;
  }
  #blogs .blog-box .blog-deatels {
    width: 90%;
  }
  #blogs .blog-box .imgWrapper {
    width: 90%;
    margin-right: 0px;
  }
}
